{%extends 'TempRecuperacion/index.html'%}
{%block title%}
    Eliminar Recuperacion
{%endblock title%}
{%block h1%}
    Eliminar Recuperacion
{%endblock h1%}
{%block body%}
    <form method="POST">
        {%csrf_token%}
        {%if Error%}
            <h2>{{Error}}</h2>
        {%else%}
            <h2>Desea Eliminar este registro? {{clsRecuperacion.pk_recuperacion}}</h2>
            <button type="submit">Eliminar</button>
            <a href="{%url 'SelectNota' %}">Cancelar</a>
        {%endif%}
    </form>
{%endblock body%}