{%extends 'TempRecuperacion/index.html'%}
{%block title%}
    Seleccionar Recuperacion
{%endblock title%}
{%block h1%}
    Seleccionar Recuperacion
{%endblock h1%}
{%block body%}
    {%if clsRecuperacion%}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Final</th>
                    <th scope="col">Fecha Ingreso</th>
                    <th scope="col">Fecha Actualizacion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Carrera</th>
                    <th scope="col">Profesor</th>
                    <th scope="col">Establecimiento</th>
                    <th scope="col">Alumno</th>
                    <th scope="col">Actualizar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {%for Recuperacion in clsRecuperacion%}
                <tr class="table-info">
                    <th scope="col">{{Recuperacion.pk_recuperacion}}</th>
                    <td>{{Recuperacion.final}}</td>
                    <td>{{Recuperacion.fecha_ingreso}}</td>
                    <td>{{Recuperacion.fecha_modificacion}}</td>
                    <td>{{Recuperacion.estado}}</td>
                    <td>{{Recuperacion.fk_curso.pk_curso}}-{{Recuperacion.fk_curso.descripcion}}</td>
                    <td>{{Recuperacion.fk_carrera.id}}-{{Recuperacion.fk_carrera.descripcion}}</td>
                    <td>{{Recuperacion.fk_profesor.pk_profesor}}-{{Recuperacion.fk_profesor.nombre}}</td>
                    <td>{{Recuperacion.fk_establecimiento.pk_establecimiento}}-{{Recuperacion.fk_establecimiento.nombre}}</td>
                    <td>{{Recuperacion.fk_alumno.pk_alumno}}-{{Recuperacion.fk_alumno.nombre}} {{Recuperacion.fk_alumno.apellido}}</td>
                    <th scope="col">
                        <a href="{%url 'UpdateRecuperacion' Recuperacion.pk_recuperacion%}">Actualizar</a>
                    </th>
                    <th scope="col">
                        <a href="{%url 'DeleteRecuperacion' Recuperacion.pk_recuperacion%}">Eliminar</a>
                    </th>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    {%else%}
        <p>No exites elementos</p>
    {%endif%}
{%endblock body%}