<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divice-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{%block title%}Modulos Establecimiento{%endblock title%}</title>
    <h1>{%block h1%}Modulos establecimiento{%endblock h1%}</h1>
</head>
<body>
    <a href="http://127.0.0.1:8000/Establecimiento/Home/">Modulos Establecimiento</a>
    <a href="http://127.0.0.1:8000/Establecimiento/InsertarEstablecimiento/">Insertar Establecimiento</a>
    <a href="http://127.0.0.1:8000/Establecimiento/SeleccionarEstablecimiento/">Seleccionar Establecimiento</a>
    <a href="http://127.0.0.1:8000/Establecimiento/ActualizarEstablecimiento/2">Actualizar Establecimiento</a>
    {%block body%}

    {%endblock body%}
</body>
</html>