{%extends 'TempEstablecimiento/index.html'%}
{%block title%}
    InsertarEstablecimiento
{%endblock title%}
{%block h1%}
    Modulo para insertar Establecimiento
{%endblock h1%}
{%block body%}
    <form method="POST">
        {%csrf_token%}
        {%if Error%}
            <h2>{{Error}}</h2>
        {%else%}
            <label>Nombre</label>
            <input type="text" name="nombre" content={{EstablecimientoForm.nombre}}>
            <label>Direccion</label>
            <input type="text" name="direccion" content={{EstablecimientoForm.direccion}}>
            <label>Fundacion</label>
            <input type="date" name="fundacion" content={{EstablecimientoForm.fundacion}}>
            <label>Estado</label>
            <input type="number" name="estado" content={{EstablecimientoForm.estado}}>
            <button type="submit">Insertar</button>
        {%endif%}
    </form>
{%endblock body%}