{%extends 'TempEstablecimiento/index.html'%}
{%block title%}
    SeleccionarEstablecimiento
{%endblock title%}
{%block h1%}
    SeleccionarEstablecimiento
{%endblock h1%}
{%block body%}
    {%if clsEstablecimientos%}
        <table>
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Fundacion</th>
                    <th>Estado</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {%for Establecimiento in clsEstablecimientos%}
                <tr>
                    <td>{{Establecimiento.pk_establecimiento}}</td>
                    <td>{{Establecimiento.nombre}}</td>
                    <td>{{Establecimiento.direccion}}</td>
                    <td>{{Establecimiento.fundacion}}</td>
                    <td>{{Establecimiento.estado}}</td>
                    <td>
                        <a href="{%url 'UpdateEstablecimiento' Establecimiento.pk_establecimiento%}">Actualizar</a>
                    </td>
                    <td>
                        <a href="{%url 'DeleteEstablecimiento' Establecimiento.pk_establecimiento%}">Eliminar</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    {%else%}
        <p>No exites elementos</p>
    {%endif%}
{%endblock body%}