{%extends 'TempCurso/index.html'%}
{%block title%}
    Crear Curso
{%endblock title%}
{%block h1%}
    Crear Curso
{%endblock h1%}
{%block body%}
    <form method="POST">
        {%csrf_token%}
        {%if Error%}
            <h2>{{Error}}</h2>
        {%else%}
            <label>Descripcion</label>
            <input type="text" name="descripcion" content="{{formCurso.descripcion}}">
            <label>Hora Entrada</label>
            <input type="time" name="hora_entrada" content="{{formCurso.hora_entrada}}">
            <label>Hora Salida</label>
            <input type="time" name="hora_salida" content="{{formCurso.hora_salida}}">
            <label>Codigo Profesor actual: {{clsCurso.fk_profesor.pk_profesor}}</label>
            <input type="number" name="fk_profesor" required>
            <label>Codigo Carrera actual: {{clsCurso.fk_carrera.id}}</label>
            <input type="number" name="fk_carrera" required>
            <button type="submit">Insertar</button>
        {%endif%}
    </form>
{%endblock body%}>