{%extends 'TempCurso/index.html'%}
{%block title%}
    Seleccionar Curso
{%endblock title%}
{%block h1%}
    Seleccionar Curso
{%endblock h1%}
{%block body%}
    {%if clsCurso%}
        <table>
            <thead>
                <tr>
                    <th>Codigo Curso</th>
                    <th>Descripcion</th>
                    <th>Hora Entrada</th>
                    <th>Hora Salida</th>
                    <th>Estado</th>
                    <th>Profesor</th>
                    <th>Carrera</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {%for Curso in clsCurso%}
                <tr>
                    <td>{{Curso.pk_curso}}</td>
                    <td>{{Curso.descripcion}}</td>
                    <td>{{Curso.hora_entrada}}</td>
                    <td>{{Curso.hora_salida}}</td>
                    <td>{{Curso.estado}}</td>
                    <td>{{Curso.fk_profesor.nombre}}</td>
                    <td>{{Curso.fk_carrera.descripcion}}</td>
                    <td>
                        <a href="{%url 'UpdateCurso' Curso.pk_curso%}">Actualizar</a>
                    </td>
                    <td>
                        <a href="{%url 'DeleteCurso' Curso.pk_curso%}">Eliminar</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    {%else%}
        <p>No exites elementos</p>
    {%endif%}
{%endblock body%}