{%extends 'TempAlumno/index.html'%}
{%block title%}
    Seleccionar Alumno
{%endblock title%}
{%block h1%}
    Seleccionar Alumno
{%endblock h1%}
{%block body%}
    {%if clsAlumno%}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Codigo Alumno</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Fecha Incripcion</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Email</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Codigo Carrera</th>
                    <th scope="col">Codigo Usuario</th>
                    <th scope="col">Actualizar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {%for Alumno in clsAlumno%}
                <tr class="table-info">
                    <th scope="col">{{Alumno.pk_alumno}}</th>
                    <td>{{Alumno.nombre}}</td>
                    <td>{{Alumno.apellido}}</td>
                    <td>{{Alumno.fecha_ingreso}}</td>
                    <td>{{Alumno.contacto}}</td>
                    <td>{{Alumno.email}}</td>
                    <td>{{Alumno.direccion}}</td>
                    <td>{{Alumno.estado}}</td>
                    <td>{{Alumno.fk_carrera.id}} - {{Alumno.fk_carrera.descripcion}}</td>
                    <td>{{Alumno.fk_usuario.codigo_usuario}}</td>
                    <th scope="col">
                        <a href="{%url 'UpdateAlumno' Alumno.pk_alumno %}">Actualizar</a>
                    </th>
                    <th scope="col">
                        <a href="{%url 'DeleteAlumno' Alumno.pk_alumno %}">Eliminar</a>
                    </th>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    {%else%}
        <p>No exites elementos</p>
    {%endif%}
{%endblock body%}