<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divice-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notas</title>
    <h1>Notas</h1>
</head>
<body>
    {%if clsNota%}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Parcial 1</th>
                    <th scope="col">Parcial 2</th>
                    <th scope="col">Zona</th>
                    <th scope="col">Parcial 3</th>
                    <th scope="col">Final</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Profesor</th>
                    <th scope="col">Alumno</th>
                </tr>
            </thead>
            <tbody>
                {%for Nota in clsNota%}
                <tr class="table-info">
                    <td>{{Nota.parcial_1}}</td>
                    <td>{{Nota.parcial_2}}</td>
                    <td>{{Nota.zona}}</td>
                    <td>{{Nota.parcial_3}}</td>
                    <td>{{Nota.final}}</td>
                    <td>{{Nota.fk_curso.pk_curso}}-{{Nota.fk_curso.descripcion}}</td>
                    <td>{{Nota.fk_profesor.nombre}}</td>
                    <td>{{Nota.fk_alumno.pk_alumno}}-{{Nota.fk_alumno.nombre}} {{Nota.fk_alumno.apellido}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <a href="{%url 'Login'%}">
            <button class="btn btn-outline-primary">
                Cerrar Sesion
            </button>
        </a>
    {%else%}
        <p>No exites elementos</p>
    {%endif%}
</body>
</html>