{%extends 'TempNota/index.html'%}
{%block title%}
    Seleccionar Nota
{%endblock title%}
{%block h1%}
    Seleccionar Nota
{%endblock h1%}
{%block body%}
    {%if clsNota%}
        <table>
            <thead>
                <tr>
                    <th>Parcial 1</th>
                    <th>Parcial 2</th>
                    <th>Zona</th>
                    <th>Parcial 3</th>
                    <th>Final</th>
                    <th>Fecha Ingreso</th>
                    <th>Fecha Actualizacion</th>
                    <th>Estado</th>
                    <th>Curso</th>
                    <th>Carrera</th>
                    <th>Profesor</th>
                    <th>Establecimiento</th>
                    <th>Alumno</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {%for Nota in clsNota%}
                <tr>
                    <td>{{Nota.parcial_1}}</td>
                    <td>{{Nota.parcial_2}}</td>
                    <td>{{Nota.zona}}</td>
                    <td>{{Nota.parcial_3}}</td>
                    <td>{{Nota.final}}</td>
                    <td>{{Nota.fecha_ingreso}}</td>
                    <td>{{Nota.fecha_modificacion}}</td>
                    <td>{{Nota.estado}}</td>
                    <td>{{Nota.fk_curso.pk_curso}}-{{Nota.fk_curso.descripcion}}</td>
                    <td>{{Nota.fk_carrera.id}}-{{Nota.fk_carrera.descripcion}}</td>
                    <td>{{Nota.fk_profesor.pk_profesor}}-{{Nota.fk_profesor.nombre}}</td>
                    <td>{{Nota.fk_establecimiento.pk_establecimiento}}-{{Nota.fk_establecimiento.nombre}}</td>
                    <td>{{Nota.fk_alumno.pk_alumno}}-{{Nota.fk_alumno.nombre}} {{Nota.fk_alumno.apellido}}</td>
                    <td>
                        <a href="{%url 'UpdateNota' Nota.pk_nota%}">Actualizar</a>
                    </td>
                    <td>
                        <a href="{%url 'DeleteNota' Nota.pk_nota%}">Eliminar</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    {%else%}
        <p>No exites elementos</p>
    {%endif%}
{%endblock body%}