{%extends 'TempNota/index.html'%}
{%block title%}
    Seleccionar Nota
{%endblock title%}
{%block h1%}
    Seleccionar Nota
{%endblock h1%}
{%block body%}
    {%if clsNota%}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Parcial 1</th>
                    <th scope="col">Parcial 2</th>
                    <th scope="col">Zona</th>
                    <th scope="col">Parcial 3</th>
                    <th scope="col">Final</th>
                    <th scope="col">Fecha Ingreso</th>
                    <th scope="col">Fecha Actualizacion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Carrera</th>
                    <th scope="col">Profesor</th>
                    <th scope="col">Establecimiento</th>
                    <th scope="col">Alumno</th>
                    <th scope="col">Actualizar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {%for Nota in clsNota%}
                <tr class="table-info">
                    <th scope="col">{{Nota.pk_nota}}</th>
                    <td>{{Nota.parcial_1}}</td>
                    <td>{{Nota.parcial_2}}</td>
                    <td>{{Nota.zona}}</td>
                    <td>{{Nota.parcial_3}}</td>
                    <td>{{Nota.final}}</td>
                    <td>{{Nota.fecha_ingreso}}</td>
                    <td>{{Nota.fecha_modificacion}}</td>
                    <td>{{Nota.estado}}</td>
                    <td>{{Nota.fk_curso.pk_curso}}-{{Nota.fk_curso.descripcion}}</td>
                    <td>{{Nota.fk_carrera.id}}-{{Nota.fk_carrera.descripcion}}</td>
                    <td>{{Nota.fk_profesor.pk_profesor}}-{{Nota.fk_profesor.nombre}}</td>
                    <td>{{Nota.fk_establecimiento.pk_establecimiento}}-{{Nota.fk_establecimiento.nombre}}</td>
                    <td>{{Nota.fk_alumno.pk_alumno}}-{{Nota.fk_alumno.nombre}} {{Nota.fk_alumno.apellido}}</td>
                    <th scope="col">
                        <a href="{%url 'UpdateNota' Nota.pk_nota%}">Actualizar</a>
                    </th>
                    <th scope="col">
                        <a href="{%url 'DeleteNota' Nota.pk_nota%}">Eliminar</a>
                    </th>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    {%else%}
        <p>No exites elementos</p>
    {%endif%}
{%endblock body%}