{%extends 'TempAdministrativo/index.html'%}
{%block title%}
    Eliminar Administrativo
{%endblock title%}
{%block body%}
    <form method="POST">
        {%csrf_token%}
        {%if Error%}
            <h2>{{Error}}</h2>
        {%else%}
            <h2>Desea Eliminar este registro? {{clsAdministrativo.nombre}} {{clsAdministrativo.apellido}}</h2>
            <button type="submit" class="btn btn-outline-danger">Eliminar</button>
            <a href="{%url 'SelectAdministrativo' %}">
                <button class="btn btn-outline-primary">
                    Cancelar
                </button>
            </a>
        {%endif%}
    </form>
{%endblock body%}