{%extends 'TempAdministrativo/index.html'%}
{%block title%}
    Buscar Administrativo
{%endblock title%}
{%block h1%}
    Buscar Administrativo
{%endblock h1%}
{%block body%}
    <br>
    <form method="POST">
        {%csrf_token%}
        <div class="col-sm-10" class="form-control-plaintext" id="staticEmail">
            <input type="number" name="pk_administrativo" placeholder="Ingrese codigo administrativo" required>
            <button type="submit" class="btn btn-success">Buscar</button>
        </div>

    </form>
{%endblock body%}