{%extends 'TempAdministrativo/index.html'%}
{%block title%}
    Seleccionar Administrativo
{%endblock title%}
{%block h1%}
    Seleccionar Administrativo
{%endblock h1%}
{%block body%}
    {%if clsAdministrativo%}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Codigo Administrativo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">DPI</th>
                    <th scope="col">Fecha Ingreso</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Codigo Usuario</th>
                    <th scope="col">Actualizar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {%for Administrativo in clsAdministrativo%}
                <tr class="table-info">
                    <th scope="col">{{Administrativo.pk_administrativo}}</th>
                    <td>{{Administrativo.nombre}}</td>
                    <td>{{Administrativo.apellido}}</td>
                    <td>{{Administrativo.dpi}}</td>
                    <td>{{Administrativo.fecha_ingreso}}</td>
                    <td>{{Administrativo.estado}}</td>
                    <td>{{Administrativo.fk_usuario.codigo_usuario}}</td>
                    <th scope="col">
                        <a href="{%url 'UpdateAdministrativo' Administrativo.pk_administrativo%}">Actualizar</a>
                    </th>
                    <th scope="col">
                        <a href="{%url 'DeleteAdministrativo' Administrativo.pk_administrativo%}">Eliminar</a>
                    </th>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    {%else%}
        <p>No exites elementos</p>
    {%endif%}
{%endblock body%}