{%extends 'TempUsuario/index.html'%}
{%block title%}
    Eliminar Usuario
{%endblock title%}
{%block h1%}
    Eliminar Usuario
{%endblock h1%}
{%block body%}
    <form method="POST">
        {%csrf_token%}
        {%if Error%}
            <h2>{{Error}}</h2>
        {%else%}
            <h2>Desea Eliminar este registro? {{clsUsuario.usuario}}</h2>
            <button type="submit" class="btn btn-outline-danger">Eliminar</button>
            <a href="{%url 'SelectUsuario' %}">
                <button class="btn btn-outline-primary">
                    Cancelar
                </button>
            </a>
        {%endif%}
    </form>
{%endblock body%}