{%load staticfiles%}
<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divice-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{%block title%}Usuario{%endblock title%}</title>
    <h1>{%block h1%}Usuario{%endblock h1%}</h1>
</head>
<body>
    <a href="{%url 'HomeUsuario'%}">Inicio</a>
    <a href="{%url 'SelectUsuario'%}">Listar</a>
    <a href="{%url 'InsertUsuario'%}">Crear</a>
    <a href="{%url 'FindUpdateUsuario'%}">Actualizar</a>
    <a href="{%url 'FindDeleteUsuario'%}">Eliminar</a>
    <a href="{%url 'Administrativo'%}">Regresar</a>
    {%block body%}

    {%endblock body%}
</body>
</html>