{%extends 'TempUsuario/index.html'%}
{%block title%}
    Seleccionar Usuario
{%endblock title%}
{%block h1%}
    Seleccionar Usuario
{%endblock h1%}
{%block body%}
    {%if clsUsuario%}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Codigo Usuario</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Constraseña</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Colegio</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {%for Usuario in clsUsuario%}
                <tr class="table-info">
                    <th scope="col">{{Usuario.pk_usuario}}</th>
                    <td>{{Usuario.codigo_usuario}}</td>
                    <td>{{Usuario.usuario}}</td>
                    <td>{{Usuario.contrasena}}</td>
                    <td>{{Usuario.estado}}</td>
                    <td>{{Usuario.fk_school.nombre}}</td>
                    <th scope="col">
                        <a href="{%url 'UpdateUsuario' Usuario.pk_usuario%}">Actualizar</a>
                    </th>
                    <th scope="col">
                        <a href="{%url 'DeleteUsuario' Usuario.pk_usuario%}">Eliminar</a>
                    </th>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    {%else%}
        <p>No exites elementos</p>
    {%endif%}
{%endblock body%}